@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* @keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-out forwards;
} */

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%) translateY(-10px);
  }
}

.animate-slide-in {
  animation: slide-in 0.4s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.4s ease-in forwards;
}

/* styles.css hoặc global.css */
.table-style {
  @apply min-w-[600px] w-full table-fixed text-sm text-left border-collapse;
}

.table-style thead {
  @apply bg-gray-50;
}

.table-style th {
  @apply px-4 py-3 font-semibold text-gray-700;
}

.table-style td {
  @apply px-4 py-3;
}

.table-style tbody tr {
  @apply border-t;
}

.table-style tbody tr:hover {
  @apply bg-gray-50;
}

.table-style-empty {
  @apply px-4 py-6 text-center text-gray-500;
}
